@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

nextjs-portal {
  display: none;
}

.map-container {
  height: 100vh; /* Or a fixed height, depending on your layout */
  width: 100%;
}

